# Ignorar todo excepto este archivo .gitignore
*
!.gitignore

# Contenido de src
/src/**

# Miscellaneous dentro de src
/src/*.class
/src/*.log
/src/*.pyc
/src/*.swp
/src/.DS_Store
/src/.atom/
/src/.buildlog/
/src/.history
/src/.svn/
/src/migrate_working_dir/

# IntelliJ related dentro de src
/src/*.iml
/src/*.ipr
/src/*.iws
/src/.idea/

# VS Code
/src/.vscode/

# Flutter/Dart/Pub related
/src/**/doc/api/
/src/**/ios/Flutter/.last_build_id
/src/.dart_tool/
/src/.flutter-plugins
/src/.flutter-plugins-dependencies
/src/.pub-cache/
/src/.pub/
/src/build/

# Symbolication related
/src/app.*.symbols

# Obfuscation related
/src/app.*.map.json

# Android Studio builds dentro de src
/src/android/app/debug
/src/android/app/profile
/src/android/app/release
